$white: #fff;
$red: #E74C3C;
$dark: #2C3E50;
$headerfont: Helvetica, sans-serif;

header {
		
		h1 {
			color: $white;
			font-size: 4em;
			text-transform: uppercase;
			font-family: $headerfont;
		}
}



section h1 {
	color: $red;
	font-size: 2em;
	font-family: $headerfont;
	text-transform: uppercase;
}

h2 {
	color: $white;
	font-family: serif;
}

header h2 {
	font-size: 1em;
}

nav {
	color: $dark;
	font-size: 1.5em;
	font-family: $headerfont;
		ul{
			list-style: none;
		}
}

a {
	text-decoration: none;
	color: $dark;
}

a:visited {
	text-decoration: none;
}

a:hover {
	color: $white;
}

article {
	color: $white;
	h2 {
		font-size: 2em;
		font-family: $headerfont;
	}
}


footer {
		h1 { 
		color: $white;
		font-size: .5em;
		text-transform: lowercase;
		margin: 0px;
		padding: 0px;
	}
}

footer nav { 
			color: $white;
			font-family: $headerfont;
			ul {
				list-style: none;
			}
		}

footer h2 {
	text-transform: lowercase;
	font-size: .5em;

}