$white: #fff;
$red: #E74C3C;
$dark: #2C3E50;
$headerfont: Helvetica, sans-serif;

a {
	text-decoration: none;
	color: $dark;
}

a:visited {
	text-decoration: none;
}

a:hover {
	color: $white;
}

header {		
	h1 {
		color: $white;
		font-size: 4em;
		text-transform: uppercase;
		font-family: $headerfont;
	}
	h2 {
		color: $white;
		font-family: serif;		
		font-size: 1em;
		font-weight: normal;
	}
}

nav {
	color: $dark;
	font-size: 1.5em;
	font-family: $headerfont;
		ul{
			list-style: none;
		}
}

section {
	h1 {
		color: $red;
		font-size: 2em;
		font-family: $headerfont;
		text-transform: uppercase;
	}
	h2 {
	color: $white;
	font-family: serif;
	}
	h3 {
		font-weight: normal;
	}

}

article {
	color: $white;
	h2 {
		font-size: 2em;
		font-family: $headerfont;
	}
}


footer {
	text-transform: lowercase;
	font-size: .5em;
	color: $white;
	font-family: $headerfont;
		h1 { 
		display: inline;
		font-size: .5em;	
		margin: 0px;
		padding: 0px;
		width: auto;
	}
}

footer nav { 
		ul {
			list-style: none;
		}

		li a {
			color: $white;
			font-family: $headerfont;
			text-transform: lowercase;
			font-size: .5em;	
		}
}
